


/* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}

/*------------- 自定义字体 ------------------*/
@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'redbean';	
  /* 字体文件地址(相对或者绝对路径都可以，/source 为根目录 /) */
  src: url(/font/ZhuZiAWan.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}
/*------------- 自定义字体end ------------------*/